.prof-image{
	width: 75px;
	margin-right: 10px;
}

.prof-info{
	padding-top: 10px;
}

.testfloat{
	float:right;
}

.prof-name{
	margin-top: 10px;
	font-family: Aleo Regular;

}

.prof-panel-body:hover{
	text-decoration: none;
}

.prof-panel-body {
	color: #4169E1;
}

.num-rating {
	margin-right: 10px;
}

.logo {
	font-family: "Intrique Script Personal Use";
	font-size: 50px;
	color:#EB3430;
	padding-left: 5px;
}



.logo:hover {
	color: #CC0000;
	text-decoration: none;
}

.navbar .btn {
  margin-top: 10px;
}

.navbar .form-control {
	margin-top: 10px;
}

.navbar ul li {
	margin-top: 10px;
}

.rc-form-text {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Aleo Regular;
}

.rating {
	margin-bottom: 10px;
}

body {
	font-family: Tahoma;
}

.progress {
	margin-top: 20px;
}

.prof-character {
	font-family: Aleo Bold;
	text-align: center;
	margin-top: 0px;
}

@font-face {
	font-family: "Aleo Regular";
	src: url('../fonts/aleo/Aleo-Regular.otf');
}

@font-face {
	font-family: "Aleo Bold";
	src: url('../fonts/aleo/Aleo-Bold.otf');
}

.course-item {
	font-family: Aleo Regular;
	display: inline-block;
	width: 100%;
}

.course-panel-heading {
	font-family: Aleo Regular;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.num-rating {
	font-size: 13px;
	margin-top: 6px;
}

.btn-proferate{
	margin-top: 2px;
}
