<<<<<<< HEAD
.prof-image{
	width: 75px;
	margin-right: 10px;
}

.prof-info{
	padding-top: 10px;
}

.testfloat{
	float:right;
}

.prof-name{
	margin-top: 10px;
}
.prof-panel-body:hover{
	text-decoration: none;
}
=======
>>>>>>> 09a35bd836d989127d2651976f44f7583d58eeab
.logo {
	font-family: "Intrique Script Personal Use";
	font-size: 50px;
}

.logo:hover {
	color: #1F4E79;
	text-decoration: none;
}

.navbar .btn {
  margin-top: 10px;
}

.navbar .form-control {
	margin-top: 10px;
}

.navbar ul li {
	margin-top: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
=======
>>>>>>> 09a35bd836d989127d2651976f44f7583d58eeab
}




<<<<<<< HEAD
>>>>>>> 09a35bd836d989127d2651976f44f7583d58eeab
=======
>>>>>>> 09a35bd836d989127d2651976f44f7583d58eeab
