<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <title>Proferater</title>

    <!-- Bootstrap -->

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type = "text/css">
    <link href="/static/css/proferater.css" rel="stylesheet" type = "text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
  	<div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo logo-nav" href="/proferater/home/">Proferater</a>
        </div>
        <div class="navbar-collapse collapse">    
          <form class="navbar-form navbar-left" role="search" action="searchresult.html" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" value="COMPRO1">
            </div><!-- form-group -->

            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">College of Computer Studies</a></li>
              <li><a href="#">College of Science</a></li>
              <li><a href="#">RVR College of Business</a></li>
              <li><a href="#">College of Engineering</a></li>
              <li><a href="#">School of Economics</a></li>
              <li><a href="#">College of Liberal Arts</a></li>
              <li><a href="#">College of Education</a></li>
            </ul>
          </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="/accounts/logout/">Logout</a></li>
          </ul>
       </div>
      </div>
		</div>

<div class="container search-container">
	<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row aleo-regular rc-form-course">
          <h1>Search Results for COMPRO1</h1>
          <br>
        </div>

        {% if object_list %}
          {% for professor in object_list %}
          <div class="panel panel-default">
             <a href="professor-profile.html" class ="prof-panel-body">
              <div class="panel-body">
                    {% load staticfiles %}
                <img src="{% static "assets/prof-image.jpg" %}" alt="My image" class="img-rounded pull-left prof-image">
                <h3 class="prof-name"><a href="/professor/{{professor.id}}" class ="prof-panel-body">{{professor.name}}</a>
                  <a href="/proferater/rate/"><button class="btn btn-primary pull-right btn-proferate-small">Proferate!</button>
                </h3>
                
                 <h4 class="text-muted">{{professor.college}}
                  <span href="#" class="n-rates float-right aleo-regular">193 ratings</span>
                  <br><small>{{professor.department}}</small></h4>

                <div class="btn-group btn-group-justified height-30" data-toggle="buttons">
                  <label class="btn btn-group legend-rate legend-rate-sd height-30 rate summary disabled text-black">
                    <input type="radio" name="rating" id="sd">15
                  </label>
                  <label class="btn btn-group legend-rate legend-rate-d height-30 rate disabled text-black">
                    <input type="radio" name="rating" id="d">46
                  </label>
                  <label class="btn btn-group legend-rate legend-rate-n height-30 rate disabled text-black">
                    <input type="radio" name="rating" id="n">76
                  </label>
                  <label class="btn btn-group legend-rate legend-rate-a height-30 rate disabled text-black">
                    <input type="radio" name="rating" id="a">32
                  </label>
                  <label class="btn btn-group legend-rate legend-rate-sa height-30 rate disabled text-black">
                  <input type="radio" name="rating" id="sa">19
                  </label>
                </div><!-- btn-group justified -->
              </a>
              </div>   
            </div> 
    		   {% endfor %}
			{% else %}
   			<p>No professors listed on this course yet.</p>
			{% endif %} 
            </div>           
          
        </div>
      </div>
     </div> 
          
    <div class="row mastfoot text-center">
      <div class="inner">
        <p>Copyright 2014 <a href="http://getbootstrap.com">About Us</a></p>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="/static/js/jquery-2.1.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>