
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proferater</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/proferater.css" rel="stylesheet">

  </head>
  <body>
  <div data-role="page" id="prof-page">
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo logo-nav" href="/proferater/home/">Proferater</a>
        </div>
        
        <div class="navbar-collapse collapse">    
          <form class="navbar-form navbar-left" role="search" action="/proferater/search/">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div><!-- form-group -->
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">College of Computer Studies</a></li>
              <li><a href="#">College of Science</a></li>
              <li><a href="#">RVR College of Business</a></li>
              <li><a href="#">College of Engineering</a></li>
              <li><a href="#">School of Economics</a></li>
              <li><a href="#">College of Liberal Arts</a></li>
              <li><a href="#">College of Education</a></li>
            </ul>
          </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" action="/accounts/logout/">
            <li>{{users.username}}</li>
            <li><a href="/accounts/logout/">Logout</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div> <!-- container-fluid -->
    </div> 

    <div class="container">
      <div class="row col-md-8">
        <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default prof-panel-body">
            
            <div class="panel-body">
              <img src="/static/assets/prof-image.jpg" class="img-rounded pull-left prof-image">
              <h3 class="prof-name">Lazaro, Lordd Michael</h3>
              <h4 class="text-muted">College of Computer Studies <small>Software Technology</small></h4>
            </div>
          </div><!-- row -->
          
          <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-group legend-rate legend-rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd">Strongly<br>Disagree
                    </label>
                    <label class="btn btn-group legend-rate legend-rate-d rate disabled">
                      <input type="radio" name="rating" id="d">Disagree
                    </label>
                    <label class="btn btn-group legend-rate legend-rate-n rate disabled">
                      <input type="radio" name="rating" id="n">Neutral
                    </label>
                    <label class="btn btn-group legend-rate legend-rate-a rate disabled">
                      <input type="radio" name="rating" id="a">Agree
                    </label>
                    <label class="btn btn-group legend-rate legend-rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa">Strongly<br>Agree
                    </label>
                  </div><!-- btn-group justified -->
                  <br>
          <div class="course-panel-group">
          <div class="panel-group" id="Course">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="course-item" data-toggle="collapse" data-parent="#Course" href="#TELEKIN-stat">
                    COMPRO1
                  </a>
                  <span class="pull-right">
                    <a href="/proferater/rate/">
                    <button type="button" class="btn btn-primary btn-xs btn-proferate"><b>Proferate!</b></button></a>
                    <b class="text-muted num-rating">136 ratings</b>
                  </span>
                </h3>
              </div>
              <div id="TELEKIN-stat" class="panel-collapse collapse ">
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Fair Grade
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Clear
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Knowledgeable
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Engaging
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Fair Workload
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Considerate
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Approachable
                  
                  <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li><!-- list of factors -->
                
              </div><!-- panel-collapse collapse -->
            </div><!-- telekin -->
          </div><!-- course panel-group -->

          <div class="panel-group" id="Course">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a class="course-item" data-toggle="collapse" data-parent="#Course" href="#COMPRO2-stat">
                  COMPRO2
                  </a>
                  <span class="pull-right">
                    <a href="/proferater/rate/">
                    <button type="button" class="btn btn-primary btn-xs btn-proferate"><b>Proferate!</b></button></a>
                    <b class="text-muted num-rating">136 ratings</b>
                  </span>
                </h3>
              </div>
              <div id="COMPRO2-stat" class="panel-collapse collapse ">
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Fair Grade
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Clear
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Knowledgeable
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Engaging
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Fair Workload
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Considerate
                  
                    <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li>
                <li href="#" class="list-group-item factor-item">
                  <i class="icon-caret-right"></i>
                  <h4 class="list-item-prof-character">
                    Approachable
                  
                  <div class="btn-group rate-summary" data-toggle="buttons">
                    <label class="btn btn-group rate-sd rate disabled">
                      <input type="radio" name="rating" id="sd"> 10
                    </label>
                    <label class="btn btn-group rate-d rate disabled">
                      <input type="radio" name="rating" id="d"> 30
                    </label>
                    <label class="btn btn-group rate-n rate disabled">
                      <input type="radio" name="rating" id="n"> 20
                    </label>
                    <label class="btn btn-group rate-a rate disabled">
                      <input type="radio" name="rating" id="a"> 15
                    </label>
                    <label class="btn btn-group rate-sa rate disabled">
                      <input type="radio" name="rating" id="sa"> 25
                    </label>
                  </div><!-- btn-group justified -->
                  </h4>
                </li><!-- list of factors -->
                
              </div><!-- panel-collapse collapse -->
              </div>
            </div><!-- telekin -->
          </div><!-- course panel-group -->

        </div><!-- col-md-6 -->
      </div>

      </div>
      <div class="col-md-4 comment-panel pull-right">
        <div class="panel panel-default" id="Comment">
          <div class="panel-heading comment-panel-heading">
            <h3 class="panel-title">
              <a class="comments">
                COMMENTS
              </a>
            </h3>
          </div>
          <div id="OBJECTP-comments">
            <li class="list-group-item comment-item">
              <i class="icon-caret-right"></i>
              <span class="commenter">
              Lordd Michael Lazaro
              </span>
              <span class="comment-factor">
              on Fair Workload</span>
              
              <div class="comment-body">
                I don't give exams! ahihihi
              </div>
              <small>
              <span class="comment-date-time">
                02-26-2014
              </span>
              </small>

              <span class="comment-vote-up">
                36 
                <a href="#">
                  <span class="vote vote-up glyphicon glyphicon-thumbs-up"></span>
                </a>
              </span>
              <span class="comment-vote-down">
                2 
                <a href="#">
                  <span class="vote vote-down glyphicon glyphicon-thumbs-down"></span>
                </a>
              </span>
            </li>
          </div>
        </div>
      </div>  
    </div>

    <div class="row mastfoot text-center">
      <div class="inner">
        <p>Copyright 2014 <a href="http://getbootstrap.com">About Us</a></p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-2.1.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
                </a>
</html>