<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proferater</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/proferater.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo logo-nav" href="home.html">Proferater</a>
        </div>
        
        <div class="navbar-collapse collapse">    
          <form class="navbar-form navbar-left" role="search" action="searchresult.html">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" id="navbar-search">
            </div><!-- form-group -->
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">College of Computer Studies</a></li>
              <li><a href="#">College of Science</a></li>
              <li><a href="#">RVR College of Business</a></li>
              <li><a href="#">College of Engineering</a></li>
              <li><a href="#">School of Economics</a></li>
              <li><a href="#">College of Liberal Arts</a></li>
              <li><a href="#">College of Education</a></li>
            </ul>
          </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Sign up</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div> <!-- container-fluid -->
    </div> 

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="rc-form-text rc-form-professor">Lordd Michael Lazaro <small> in</small></h3>
          <h1 class="rc-form-text rc-form-course">COMPRO1 <small>is</small></h1>
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
          <div>
          <h1 class="prof-character" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Easy to talk to">
            <span id="factor">Fair in Grading</span>
            <small>
             <!--  <span class="glyphicon glyphicon-info-sign"id="info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Easy to talk to"></span> -->
            </small>
            <div class="factor-description">
              Note: A professor fair in grading is someone who gives grade that the student deserves.
            </div>
          </h1>
          
          <form role="form" action="{% url 'polls:vote' professor_id %}" id="rate-comment-form" method="post">
          <!--{% csrf_token %}-->
            <div class="form-group">
              <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-group rate-sd">
                  <input type="radio" name="rating" id="sd" value="10"> Strongly<br>Disagree
                </label>
                <label class="btn btn-group rate-d">
                  <input type="radio" name="rating" id="d" value="20"> Disagree
                </label>
                <label class="btn btn-group rate-n">
                  <input type="radio" name="rating" id="n" value="30"> Neutral
                </label>
                <label class="btn btn-group rate-a">
                  <input type="radio" name="rating" id="a" value="40"> Agree
                </label>
                <label class="btn btn-group rate-sa">
                  <input type="radio" name="rating" id="sa" value="50"> Strongly<br>Agree
                </label>
              </div><!-- btn-group justified -->
            </div> <!-- form-group -->
            <div class="form-group">
              <span  id="textArea"><textarea class="form-control" rows="3" placeholder="What makes the professor Fair in Grading" id="message"></textarea></span>
            </div>
          </form>
          </div> <!-- char, rate, comment -->
          <div class="span4">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                <span class="sr-only">25% Complete</span>
              </div>
            </div> <!-- progress bar -->
          </div><!-- span8 -->
          <div class="form-commands">
            <div class="btn-group pull-left">
              <button type="button" id="back" class="btn btn-default rc-form-btn" onclick="rcFormBack()">Back</button>
              <button type="button" id="next" class="btn btn-primary">Next</button>
            </div>
            <button type="button" id="cancel" class="btn btn-default rc-form-btn pull-right" onclick="rcFormCancel()">Cancel</button>

          </div>
          
          
          <!-- DIV -->
        </div>
        </div>
      </div>
    </div>

    </div> <!--end of container -->
    <div class="row mastfoot text-center">
      <div class="inner">
        <p>Copyright 2014 <a href="http://getbootstrap.com">About Us</a></p>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/proferater.js"></script>

  </body>
</html>