
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proferater</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/proferater.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  	<div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo" href="#">Proferater</a>
        </div>
        
        <div class="navbar-collapse collapse">    
          <form class="navbar-form navbar-left" role="search" action="searchresult.html">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" value="COMPRO1">
            </div><!-- form-group -->

            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign up</a></li>
        </div><!--/.navbar-collapse -->
      </div> <!-- container-fluid -->
    </div> 

    <div class="container search-container">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <a href="professor-profile.html" class ="prof-panel-body">
            <div class="panel-body">
              
              <img src="assets/prof-image.jpg" class="img-rounded pull-left prof-image">
              <h3 class="prof-name">Lazaro, Lordd Michael</h3>
              
              <h4 class="text-muted">College of Computer Studies <small>Software Technology</small></h4>
            </div>
            </a>
            <div class="panel-footer">
              <div>
                <b class="text-muted">136 ratings</b>
                <a href="rate-comment-form.html" class="btn btn-primary btn-xs pull-right">
                <!-- <button type="button" class="btn btn-primary btn-xs pull-right"> -->
                <b> Proferate! </b>
                <!-- </button> -->
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <a href="professor-profile.html" class ="prof-panel-body">
            <div class="panel-body">
              
              <img src="assets/prof-image.jpg" class="img-rounded pull-left prof-image">
              <h3 class="prof-name">Gonzales, Elisha Jeremy</h3>
              
              <h4 class="text-muted">College of Computer Studies <small>Software Technology</small></h4>
            </div>
            </a>
            <div class="panel-footer">
              <div>
                <b class="text-muted">136 ratings</b>
                <a href="rate-comment-form.html">
                <button type="button" class="btn btn-primary btn-xs pull-right"> <b> Proferate </b></button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <a href="professor-profile.html" class ="prof-panel-body">
            <div class="panel-body">
              
              <img src="assets/prof-image.jpg" class="img-rounded pull-left prof-image">
              <h3 class="prof-name">Serrano, Ellen Chelsea</h3>
              
              <h4 class="text-muted">College of Computer Studies <small>Software Technology</small></h4>
            </div>
            </a>
            <div class="panel-footer">
              <div>
                <b class="text-muted">136 ratings</b>
                <a href="rate-comment-form.html">
                <button type="button" class="btn btn-primary btn-xs pull-right"> <b> Proferate </b></button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!--end of container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>